@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}
.title {
  padding-top: 12%;
}
.navbar {
  padding: .3rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-brand img , .icon {
  height: 70px;
}
.nav-link {
  font-size: 1.1em !important;
}
#slides{
  border-bottom: 60px solid #ececec;
}
.carousel-inner {
  max-height: 95vh;
  min-height: 20vh;
}
.carousel-item img {
  height: 130vh;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation-name: fadein;
  animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
}
.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-caption a {
  color: #FFF;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption a:hover {
  color: #fa4b4b;
}
.padding {
  z-index: 1;
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcometitle {
  opacity: 0;
  transform: translateX(-50%);
  font-size: 1.5rem;
}
.welcomesubtitle {
  opacity: 0;
  transform: translateX(50%);
}
.welcomedivider {
  opacity: 0;
  width: 1px;
  border-top: 2px solid #b4b4b4;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.scroll {
  opacity: 0;
  transform: translateY(50%);
}
.zoom {
  transition: transform .2s;
  width: 100px;
  margin: 1.5rem;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.customertitle {
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(-50%);
}
.customerdivider {
  border-top: 2px solid #b4b4b4;
  margin-top: .3rem;
  margin-bottom: 1rem;
  width: 1px;
  opacity: 0;
}
.clienti {
  opacity: 0;
  transform: translateX(-50%);
}
.collab {
  opacity: 0;
  transform: translateX(50%);
}
.card {
  margin: 0.5rem;
}
.biotitle {
  opacity: 0;
  transform: translateX(50%);
}
.biodivider {
  opacity: 0;
  width: 1px;
}
.biobody {
  transform: translateX(-10%);
  opacity: 0;
  text-align: justify;
}
.photo img {
  transform: translateX(50%);
  opacity: 0;
  max-height: 30rem;
  height: 100%;
  position: relative;
}
.social img {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 50%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
footer a:hover {
  color: #fa4b4b;
}
hr.lightfooter {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

@keyframes fadein {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes init {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes init {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*-- Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .navbar {
    padding: .3rem;
  }
  .title {
    padding-top: 25%;
  }
  .carousel-caption {
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .title {
    padding-top: 30%;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 300;
    padding-bottom: .1rem;
  }
}
