@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.title {
  padding-top: 12%;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-brand img , .icon {
  height: 70px;
}
.nav-link {
  font-size: 1.1em !important;
}
#slides{
  border-bottom: 60px solid #ececec;
}
.carousel-inner {
  max-height: 50rem;
  min-height: 18rem;
}
.carousel-item img {
  height: 200vh;
}
.carousel-caption {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  animation-name: fadein;
  animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
}
.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.zoom {
  transition: transform .2s;
  width: 100px;
  margin: 1.5rem;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.card {
  margin: 0.5rem;
}
.photo img {
  height: 80%;
  padding-left: 3rem;
}
.social img {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 50%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.lightfooter {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

@keyframes fadein {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}


/*-- Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .navbar {
    padding: .3rem;
  }
  .title {
    padding-top: 25%;
  }
  .carousel-caption {
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .title {
    padding-top: 30%;
  }
  .carousel-caption {
    top: 55%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 300;
    padding-bottom: .1rem;
  }
}
